configstore/
nvim/plugged
nvim/.netrwhist
cipherhub/
count-to-6/
fish/
footballbot workshop/
git-it/
gtk-2.0/
hub
inkscape/
invoicer/
lasercat-workshop/
levelmeup/
meld/
nodebot-workshop/
nvim.bk/
pants/
pkginit/
promise-it-wont-hurt/
stream-adventure/
nvim/autoload
